doctype html
html( lang="de")
  include ../shared/head
  
  body
    include ../shared/header
    
    .container
      #notificationDiv
        include ../shared/notification
        
      block content
          
        include ../shared/footer
