.row
  .col-lg-12
    .panel.panel-default
      include ./folderStructure
        
      
      ul.list-group
        each file in files
          li.list-group-item
            include ./file
              
